# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
importer/node_modules/
importer/withbg/
importer/deputes.json
react-app/node_modules/
react-app/build/
importer/img/
importer/json/acteur/PA1008.json
importer/json/
importer/nobg/
jobs/dl/
jobs/node_modules/.package-lock.json
jobs/node_modules/
react-app/.firebase/
jobs/config.json
react-app/src/config.json
react-app/.firebaserc
