

.draggable {
  cursor: move;
}

svg.main {
  position: fixed;
  top: 0;
  left: 0;
}

.pin {
   transform: translate(125px, 9px) scale(0.1) rotate(35deg);
}

.pin-pinned {
   transform: translate(125px, 9px) scale(0.1) rotate(35deg);
   animation-duration: 0.5s;
   animation-name: slidein;
}

.show-more {
  transform: translate(124px, 20px) scale(0.06);
  transition: opacity 0.3s;
}

.show-more.hide {
  opacity: 0
}

.show-more.show {
  opacity: 1
}

.backdrop {
  background-color: rgba(31,31,31,0);
  backdrop-filter: blur(5px) saturate(50%);
  -webkit-backdrop-filter: blur(5px) saturate(50%);
}

@-moz-document url-prefix() {
  .backdrop {
       background-color: rgba(33,33,33,1);
  }
}

svg {
    user-select: none;
}

svg foreignObject {
    user-select: text;
}
