.App {
  background-color: #333333;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.draggable {
  cursor: move;
}

svg.main {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333333;
}

.social-bar {
    position: absolute;
    top: 15px;
    right: 5px;
    font-size: 1.2em;
    filter:drop-shadow;
    /*text-shadow: 1px 1px 2px pink;*/
    color: black;
    font-size: 1.8em;
}


.pin {
   transform: translate(125px, 9px) scale(0.1) rotate(35deg);
}

.pin-pinned {
   transform: translate(125px, 9px) scale(0.1) rotate(35deg);
   animation-duration: 0.5s;
   animation-name: slidein;
}

.show-more {
  transform: translate(124px, 20px) scale(0.06);
  transition: opacity 0.3s;
}

.show-more.hide {
  opacity: 0
}

.show-more.show {
  opacity: 1
}

@keyframes slidein {
  from {
    transform: translate(125px, 9px) scale(0.8) rotate(35deg);
  }

  to {
    transform: translate(125px, 9px) scale(0.1) rotate(35deg);
  }
}
