.color-transition {
  transition: fill 0.3s;
}

.smooth-transform {
    transition: transform 3s;
}

.bloup {
  transition: transform 0.5s;
  cursor: pointer;
}

.bloup.hover {
  transform: scale(1.3);
  transition: transform 0s;
}
