.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black;
  height: 25px;
  background-color: rgba(51,51,51,0.5);
  box-shadow: rgba(0,0,0,0.6) 0px 0px 29px;
  backdrop-filter: blur(5px) saturate(50%);
  -webkit-backdrop-filter: blur(5px) saturate(50%);
  transition: height 0.5s;
}

.footer > button {
  font-size: 1em;
  border: none;
  background-color: rgba(0,0,0,0);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.footer > button:focus {outline:0;}
.footer > button:hover {
  cursor: pointer;
  text-decoration: underline;
}

@-moz-document url-prefix() {
  .footer {
       background-color: rgba(51,51,51,1);
  }
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: white;
  text-decoration: underline;
}

.footer.open {
  height: 108px
}
